
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.


# END WordPress


<Files wp-login.php>
order deny,allow
Deny from all

# allow access from my IP address
allow from 18.118.200.158

</Files>